body {
    background-image: url('https://wallpapers.com/images/hd/4k-blue-minimalist-deer-5fc2dalaakntatt7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(84, 184, 194);
}

header {
    
    background-color: #a3cccc;
    color: white;
    padding: 1em;
    text-align: center;
    background: rgba(0, 0, 0, 0.415)
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    color: rgb(19, 3, 3);
    text-decoration: none;
}

main {
    padding: 2em;
}



footer {
    background-color: #0b4243;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 40px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000

}


.quote{
text-align:center;
text-decoration:dotted ;
text-transform: capitalize;
font-family:creative fabrica; 
color:rgba(0, 0, 0, 0.5);
font-style: italic;
}
button {
    position: absolute;
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    /* Additional styling for the button */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
 
}
button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

img{
    position: absolute;
    top: 0; 
    left: 0; 
    padding: 10px 20px;
    height: fit-content;
    width: fit-content;
}

section {
    width: 45%;
    height: fit-content;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.s1, .s2, .s3, .s4, .s5, .s6 {
    text-align: center;
    display: inline-block;
    margin: 10px;
    background-color: #b0c8c0;
    opacity: 70%;
}
section:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background-color: #3E8E41;
    opacity: 90%;
}

.full-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h2, section h5 {
    position: relative;
    z-index: 2;
    margin: 0;
}