body {
    background-image: url('https://wallpapers.com/images/hd/4k-blue-minimalist-deer-5fc2dalaakntatt7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(84, 184, 194);
}
h1 
{
        font-family:'Times New Roman', Times, serif;
        color: blanchedalmond;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        text-align: center;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(34, 42, 56, 0.466); /* Semi-transparent background for readability */
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin: 10px;   
}