/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('https://wallpapers.com/images/hd/4k-blue-minimalist-deer-5fc2dalaakntatt7.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #000; /* Set default text color to black */
}

header {
    background-color: rgba(0, 0, 0, 0.415);
    color: #000; /* Set header text color to black */
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #000; /* Set main heading color to black */
}

main {
    padding: 20px;
}

#news {
    max-width: 80%;
    margin: 0 auto;
    background-color: rgba(241, 234, 234, 0.555);
    padding: 20px;
    border-radius: 10px;
}

#news h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #000; /* Set section heading color to black */
}

/* Article container styles */
.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.321);
    padding: 20px;
    box-sizing: border-box;
    margin: 10px 0;
    border-radius: 10px;
    transition: transform 0.2s;
}

.article-container:hover {
    transform: translateY(-5px);
}

.article-container h3 {
    font-size: 1.5em;
    margin-top: 0;
    color: #000; /* Set article heading color to black */
    text-align: center;
}

.article-container p {
    margin: 10px 0;
    line-height: 1.6;
    color: #000; /* Set article text color to black */
    text-align: center;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #000; /* Set footer text color to black */
}
