body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('https://wallpapers.com/images/hd/4k-blue-minimalist-deer-5fc2dalaakntatt7.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {    
    background-color: #a3cccc;
    color: rgb(15, 14, 14);
    padding: 1em;
    text-align: center;
    background: rgba(0, 0, 0, 0.415);
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
}

#news {
    max-width: 80%;
    margin: 0 auto;
    background-color: #352c2c72;
    color:rgba(241, 234, 234, 0.555);
}

#news h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #4CAF50;
}

 

.article-container:hover {
    transform: translateY(-5px);
}

.article-container h3 {
    font-size: 1.5em;
    margin-top: 0;
    color: #4CAF50;
}

.article-container p {
    margin: 10px 0;
    line-height: 1.6;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.article-container { 
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.321);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin: 10px;
}
